@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: rgba(239, 237, 237, 0.999);
}

header {
    background-color: blanchedalmond;
    max-width: 100%;
    
}

header > h1 {
    text-align: center;  
}

#hamburguer {
    text-align: center;
    display: block;
    background-color: rgb(199, 192, 192);
    padding: 10px;
    color: white;
}

#hamburguer:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

menu {
    display: none;   
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
     background-color: darkgray; 
    text-align: center;
    border-top: 2px solid rgb(239, 233, 233);
    

}

menu a:hover {
    text-decoration: underline;
    color: blue;
    background-color: rgba(166, 160, 160, 0.635);
    
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
    
}

article h2 {

padding-bottom: 10px;
}

article p {
    padding-bottom: 15px;
    text-indent: 20px;
    line-height: 1.6;
}