@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html, body {
    width: 100vw;
    height: 100vh;
    background-color: #832c79;
}

main {
    position: relative;
    width: 100vw;    
    height: 100vh;
    border-radius: 10px;
    
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height:550px;
    border-radius:5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.353);
}

#imagem {
    display: block;
    background-image: url(../imagem/pexels-photo.jpg);
    height: 200px;
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center right;
   
}

#formulario {
    padding: 10px;
    display: block;
    
}
#formulario p {
    padding-top: 10px;

}

form #person {
    background-color: black;
    color: white;
    font-size: 1em;
    padding: 5px ;
   
}

form #chave {
    background-color: black;
    color: white;
    font-size: 1em;
    padding: 5px;
}

form input[type= text] {
    
    height: 20px;
    background-color: white;
}

form input[type= password] {
    height: 20px;
    background-color: white;
}

form input[type= submit] {
    width:100%;
    display: block;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.927);
    color: white;
    font-size: 1em;
}

form input[type=reset] {
    width: 100%;
    display: block;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.929);
    color: white;
    font-size: 1em;
    
}